@font-face {
  font-family: "muzik";
  src: url(./fonts/muzik.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: muzik;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.start {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  letter-spacing: 0.6rem;
  user-select: none;
  text-align: center;
}

.start .tut {
  font-family: "Lacquer", cursive;
  letter-spacing: normal;
  font-size: 1.3rem;
  margin-top: 7rem;
}

.start .cont {
  font-family: "Lacquer", cursive;
  margin-top: 7rem;
  font-size: 3rem;
}

.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score {
  text-align: center;
  font-size: 4rem;
}
.filled {
  pointer-events: none;
}

.container div div {
  width: 8rem;
  height: 8rem;
  background-color: black;
  margin: 2rem 1rem;
  border-radius: 20%;
  transition: background-color 200ms, transform 250ms;
}

.container div div:hover {
  background-color: rgba(0, 0, 0, 0.75);
  transform: scale(1.1);
}

.ds {
  transform: scale(1.1);
}

.logo {
  width: 8rem;
  height: 8rem;
  transform: translateX(1rem);
}

img {
  user-select: none;
}

.over {
  height: 100vh;
  width: 100vw;
  background-color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
